<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head}">
    <title>Omaha Lithuanian American Community</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">
    <table class="data">
        <thead>
        <tr>
            <th:block th:each="col : ${headers}">
                <th th:text="${col}">Column</th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${rows.empty}">
            <td colspan="4"> No reservations found.</td>
        </tr>
        <tr th:each="row : ${rows}">
            <th:block th:each="value, valStat: ${row.values}">
                <td th:if="${valStat.index == 0}">
                    <a th:href="@{/admin/reservation(id=${row.id})}" th:text="${value}">Value</a>
                </td>
                <td th:unless="${valStat.index == 0}" th:text="${value}">Value</td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
