<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
</head>
<body>
<div th:fragment="ausra">
    <h2>Aušra</h2>

    <div class="float-left">
        <img class="shadow" width="100%" src="/ausra-2022.jpg" alt="Aušra - 2013"/>
        <img class="shadow" width="100%" src="/ausra-old.jpg" alt="Aušra"/>
    </div>

    <p>Omaha's Lithuanian folk dance group, Aušra, first began as a part of the Omaha's Lithuanian Scout organization
        where Lithuanian youth fell in love with folk dancing and performed for the community. Then, in 1971, the
        official dance group that still exists today was organized and founded by Gražina Reškevičienė and Laima
        Antanėlienė, in order to include all Lithuanian Americans in the Omaha area. They first performed at the
        national dance festival, Sokiu Svente, in Chicago in 1972, and have since danced all over the country and
        overseas.</p>

    <p>Today, Aušra consists of dancers of all ages. Veterans, students and youth dance together in order to connect
        with their heritage and each other. They have most recently performed at the 16th Lithuanian Folk Dance Festival
        in Philadelphia, PA in June 2022, and have plans to continue dancing long into the future and with future
        generations.</p>

    <p>Aušra continues to be a strong part of the Omaha Lithuanian community. From performing at local Lithuanian
        events, to preserving the Lithuanian language, to staying connected with the Lithuanian population still
        thriving in Omaha today, Aušra members are proud to represent their heritage and continue to live the lives that
        their relatives worked so hard to give them when they came to Omaha so many years ago.</p>
</div>
</body>
</html>
