<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
</head>
<body>
<div th:fragment="olac">
    <h1>Omaha Lithuanian-American Community</h1>

    <img class="float-right shadow" src="/image/olac-2007.jpg" alt="Omaha Friends of Šiauliai - 2013"/>

    <p>For multiple generations, this organization has sustained its foundational existence to maintain Lithuanian
        consciousness that unites all Lithuanians outside Lithuanian’s borders and promotes Lithuanian culture and
        language.</p>

    <p>During the 19th and 20th centuries, the community established its roots within the framework of St Anthony’s
        Church in South Omaha. The wave of Lithuanian refugees established numerous groups such as a choir, language
        classes, scout troops, folk dancing, amateur theatrical group, athletic teams, sports club, women’s club, and a
        youth organization that provided social support.</p>

    <p>Significantly the past and present members were and still are highly actively working with Nebraska’s regional
        and
        state political representatives that endorse the best interests for Lithuanian as well as this local
        community. </p>

    <p>On April 26th, 1953, Omaha officially established the Omaha Lithuanian American Community Chapter that is part of
        the World Lithuanian Community. This affiliation assists to unify all 36 U.S. chapters that provides guidelines,
        support, and direction both from a social and political perspective. </p>

    <p>Our community continues its mission to keep traditions and heritage alive. Lithuanian festivities and historical
        commemorations are still celebrated. Aušra, the Omaha Folk Dance group just recently participated in 2022 at the
        16th Lithuanian Folk Dance Festival in Philadelphia. </p>

    <p>Today, it is with honor, respect, and pride we come together to celebrate its 70th year as a formal chapter that
        has been an integral part of what makes Omaha one of the best places to live. </p>
</div>
</body>
</html>
