<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
</head>
<body>
<div th:fragment="sister-city">
    <h2>Omaha Sister Cities Association (OSCA)</h2>
    <h3>Omaha Friends of Šiauliai (OFŠ)</h3>

    <img class="float-left shadow" src="/image/ofs-2013.jpg" alt="Omaha Friends of Šiauliai - 2013"/>

    <p>
        The <b>Omaha Sister Cities Association (OSCA)</b> was established in 1965, with the initiation of Omaha’s first
        sister-city relationship with Shizuoka, Japan. OSCA is an all-volunteer, nonprofit organization promoting
        citizen diplomacy between Omaha and six sister cities located in Japan, Germany, Lithuania, Ireland, Mexico, and
        China. The mission of OSCA is to promote Omaha as a global city through the development international
        partnerships and networks, and the sharing best practices through citizen-to-citizen connections, programs, and
        exchanges. OSCA functions as a catalyst for connecting Omaha citizens and organizations with similar entities in
        each of our sister cities in the areas of culture, education, public non-governmental organizations, business,
        and local government.</p>

    <p>The <b>Omaha-Šiauliai Sister-City Partnership Agreement</b> was officially signed by representatives of both <b>Omaha</b>
        and <b>Šiauliai</b> city governments, the <b>Omaha Sister Cities Association</b>, and Omaha’s <b>Lithuanian-American
            Community</b> at a special ceremony at Šiauliai City Hall on May 17, 1996. With the foundational support of
        both city governments, as well as the <b>University of Nebraska – Omaha</b> and <b>Šiauliai University</b> (now
        the <b>Šiauliai Academy of Vilnius University</b>) the citizens of Omaha and Šiauliai have enjoyed a vibrant and
        colorful relationship with many highlights over the last 27+ years. The OSCA <b>‘Omaha Friends of Šiauliai’
            (OFŠ)</b> programming committee continues to organize and support a variety of cultural and educational
        projects and initiatives, including exchanges between visiting government and citizen delegations, university
        students and faculty, as well as music, song, dance, theater and fine- arts performers and ensembles.</p>

    <p>The <b>OSCA-OFŠ</b> programming committee is currently engaged in a long-term milestone project – the development
        of a Lithuanian folk wood sculpture ensemble and forest pathway (<b>Saulės Takas</b>) at Omaha’s botanical
        center (<b>Lauritzen Gardens</b>), in collaboration with traditional folk artisans from Lithuania.</p>
</div>
</body>
</html>
