<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/olac.css">
</head>
<body>
<div th:fragment="womens-club">
    <h2>Women's Club</h2>

    <img class="float-left shadow" src="/img/womens-club.jpg" alt="Women's Club"/>

    <p>The Lithuanian women’s club was founded in 1974 to promote and sustain the Lithuanian language, culture, and
        traditions in the Omaha community.</p>

    <p>Their objectives were multifold; its mission is to support its members spiritually, protection and support of
        Lithuanian senior citizens, and to use every available opportunity to inform the public of the plight of the
        then occupied Lithuania. Women’s club reopened the Lithuanian Language Saturday school that had previously
        closed in 1967. The club protected and supported the school until it closed in 2008.</p>

    <p>The club sponsored weaving demonstrations and straw ornaments classes. The members participated in a exhibition
        of ethnic Christmas trees and other ethnic festivals. Fundraising activities to support local and Lithuanian
        charities featured Lithuanian food.</p>

    <p>Throughout the years OLWC was not only supportive financially to orphan children in Lithuania, but also donated
        money to organizations as Red Cross, Ukraine, and those in need.</p>

    <p>OLWC published their own recipe cookbook. With this cookbook, they honored and fondly remember their
        grandmothers, mothers and all of the former members who have done so much to enrich the Lithuanian legacy in
        Omaha.</p>
</div>
</body>
</html>
