:root {
    --background: #465a71;
    --input-color: black;
    --input-bg-color: white;
    --max-width: 1000px;
    --field-width: 400px;
}

.big-text {
    font-size: 1.3em;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.button-container > * {
    flex: 1 1 100px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.button-container > div > a {
    text-decoration: none;
    background-color: var(--input-bg-color);
    color: var(--input-color);
    padding: 2px 6px 3px 6px;
    border-top: 2px outset #C0C0C0;
    border-right: 2px outset #C0C0C0;
    border-bottom: 2px outset #C0C0C0;
    border-left: 2px outset #C0C0C0;
}

.center {
    margin: auto;
    text-align: center;
}

.container {
    max-width: var(--max-width);
    background-color: ghostwhite;
    margin: auto;
    padding: 20px;
}

.error {
    color: darkred;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > * {
    flex: 1 1 var(--field-width);
    padding: 15px;
}

.float-left {
    float: left;
    margin: 15px;
    width: 30%;
    min-width: 300px;
}

.float-right {
    float: right;
    margin: 15px;
    width: 30%;
    min-width: 300px;
}

@media (max-width: 600px) {
    .float-left {
        float: none;
        width: 100%;
        min-width: 100%;
    }

    .float-right {
        float: none;
        width: 100%;
        min-width: 100%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background);
    color: #E6E6E6;
    text-align: center;
}

.header {
    height: 220px;
    max-width: var(--max-width);
    margin: auto;
    background-color: var(--background)
}

.headerimage {
    background-color: var(--background);
    padding: 10px;
    height: 150px;
}

.input-container {
    float: left;
}

.input-container > input {
    width: 100%;
}

.shadow {
    box-shadow: 5px 5px 5px #999;
}

body {
    background-color: var(--background);
}

html {
    font-family: 'Bodoni Moda', serif;
    font-size: 1em;
    color: black;
}

hr {
    clear: both;
}

input {
    font-family: 'Bodoni Moda', serif;
    font-size: 1em;
    color: var(--input-color);
    background-color: var(--input-bg-color);
}

label {
    color: var(--background)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: var(--background);
    background-color: ghostwhite;
}

th, td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 8px;
    padding-bottom: 8px;
}