<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container" th:object="${reservationForm}">

    <p>Please confirm the following information:</p>

    <div class="flex-container">
        <div class="input-container">
            <label>First name:</label>
            <div class="big-text">[[*{firstName}]]</div>
        </div>
        <div class="input-container">
            <label>Last name:</label>
            <div class="big-text">[[*{lastName}]]</div>
        </div>
        <div class="input-container">
            <label>Email:</label>
            <div class="big-text">[[*{email}]]</div>
        </div>

        <div class="input-container">
            <th:block th:if="*{!#strings.isEmpty(phone)}">
                <label>Phone number:</label>
                <div class="big-text">[[*{phone}]]</div>
            </th:block>
        </div>
    </div>

    <table class="center" style="width: 300px;">
        <tr>
            <th style="text-align: left;">Ticket Type</th>
            <th style="text-align: center;">Count</th>
            <th style="text-align: right;">Total</th>
        </tr>

        <th:block th:each="type: *{ticketTypeCounts}">
            <tr>
                <td style="text-align: left;">[[${type.description}]]</td>
                <td style="text-align: center;">[[${type.count}]]</td>
                <td style="text-align: right;">[[${type.total}]]</td>
            </tr>
        </th:block>

        <tr>
            <th colspan="2" style="text-align: right;">Total:</th>
            <th style="text-align: right;">[[*{total}]]</th>
        </tr>
    </table>

    <div class="center">
        <p>Does everything look correct?</p>
    </div>

    <div class="button-container">
        <div><a class="button" th:href="@{/confirm}">Yes</a></div>
        <div><a class="button" th:href="@{/}">No</a></div>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
