<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/olac.css">
    <link rel="icon" href="/img/olac-logo.svg" type="image/svg+xml">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">
    <div th:replace="~{fragments/olac.html :: olac}">OLAC</div>
    <hr/>
    <div th:replace="~{fragments/ausra.html :: ausra}">Ausra</div>
    <hr/>
    <div th:replace="~{fragments/womens-club.html :: womens-club}">Women's Club</div>
    <hr/>
    <div th:replace="~{fragments/sister-city.html :: sister-city}">Sister City</div>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
