<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head}">
    <title>Omaha Lithuanian American Community</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">

    <form action="#" th:action="@{/login}" method="post">

        <div class="center">
            <h1>Login</h1>
        </div>

        <div class="center" style="padding: 12px;">
            <label>Username:</label>
            <input type="text" name="username" value=""/>
        </div>

        <div class="center" style="padding: 12px;">
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>

        <div class="center" style="padding: 12px;">
            <input name="submit" type="submit" value="Submit">
        </div>

    </form>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
