<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/olac.css">
    <link rel="icon" href="/olac-logo.svg" type="image/svg+xml">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">

    <form action="#" th:action="@{/login}" method="post">

        <div class="center">
            <h1>Login</h1>
        </div>

        <div class="center" style="padding: 12px;">
            <label>Username:</label>
            <input type="text" name="username" value=""/>
        </div>

        <div class="center" style="padding: 12px;">
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>

        <div class="center" style="padding: 12px;">
            <input name="submit" type="submit" value="Submit">
        </div>

    </form>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
