<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
    <link rel="icon" href="/olac-logo.svg" type="image/svg+xml">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container" th:object="${reservationForm}">
    <p>Thank you for reserving tickets to the Omaha Lithuanian Community 70th Anniversary Event! Your reservation number
        is: [[${reservationId}]]</p>

    <p>You may use one of the following options to provide your payment of [[${amount}]], or you may pay at the door. If
        paying online, please include your name and reservation number in the comments.</p>

    <div class="flex-container">
        <div><a href="https://www.venmo.com/u/dmakaitis">Venmo</a></div>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
