<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/olac.css">
    <link rel="icon" href="/olac-logo.svg" type="image/svg+xml">

    <script>
        function updatePaymentVisibility() {
            var paypal = document.getElementById("paypal-info");
            var check = document.getElementById("check-info");

            paypal.style.display = "none";
            check.style.display = "none";

            if (document.getElementById("online").checked) {
                paypal.style.display = "block";
            } else {
                check.style.display = "block";
            }
        }

        function initRadioButtons() {
            const radioButtons = document.querySelectorAll('input[name="pay-method"]');
            radioButtons.forEach(radio => {
                radio.addEventListener('click', updatePaymentVisibility);
            });
            updatePaymentVisibility();
        }
    </script>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container" th:object="${reservationForm}">
    <p>Thank you for reserving tickets to the Omaha Lithuanian Community 70th Anniversary Event!</p>

    <p>How would you like to pay?</p>

    <div class="flex-container">
        <div>
            <input type="radio" id="online" name="pay-method" value="online" checked="checked"/>
            <label for="online">Pay online now</label><br/>
            <input type="radio" id="check" name="pay-method" value="check"/>
            <label for="online">Pay by check later</label>
        </div>
        <div>
            <div id="paypal-info">
                <div th:replace="~{fragments/paypal.html :: paypal}">PayPal</div>
            </div>
            <div id="check-info">
                <p>Please note that your tickets will not be reserved until payment has been received, so be sure to
                    send your payment by check as soon as possible to ensure your reservation for the event.</p>

                <p>If you would prefer to pay online, please select the online option on the left at this time. If you
                    would still prefer to pay by check, click the button below.</p>

                <div class="button-container">
                    <div><a class="button" th:href="@{/payByCheck}">Pay by Check</a></div>
                </div>
            </div>
        </div>
        <script>initRadioButtons();</script>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
