<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/olac.css">
    <link rel="icon" href="/olac-logo.svg" type="image/svg+xml">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">
    <p>Thank you very much for your support! Please make your check in the amount of
        <b>[[${@tutil.currency(amount)}]]</b> payable to the <b>Omaha Lithuanian-American Community</b> and send it to:
    </p>

    <p style="margin-left: 4em;">
        Darius Makaitis<br/>
        1343 Quarry Circle<br/>
        Ashland, NE 68003
    </p>

    <p>Be sure to include your reservation number, <b>[[${reservationId}]]</b>, on the memo line of the check.</p>

    <p>A reminder containing this information has been sent to the email address you provided.</p>

    <p>We look forward to seeing you at our 70th Anniversary celebration on April 22nd!</p>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
