<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head}">
    <title>Omaha Lithuanian American Community</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">
    <p>Thank you very much for supporting the Omaha Lithuanian-American Community! A confirmation has been sent to the
        email address you provided.</p>

    <p>We look forward to seeing you at our 70th Anniversary celebration on April 22nd.</p>

    <p style="margin-left: 4em;">
        <b>The Belvedere</b><br/>
        201 East 1st Street<br/>
        Papillion, NE 68046
    </p>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
