<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Omaha Lithuanian American Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
    <link rel="stylesheet" type="text/css" href="/olac.css">
    <link rel="icon" href="/olac-logo.svg" type="image/svg+xml">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">

    <p>The Lithuanian American Community of Omaha is proudly celebrating its 70th year as an organization since its
        founding on April 26th, 1953. A home to Lithuanians for decades, Omaha has more than just supported the
        Lithuanian community, the city has helped the organization thrive.</p>

    <p>The Lithuanian American Community has been an integral part of Omaha history for over a century. We look forward
        to sharing this celebration with you, of not just culture, but the history that comes with it.</p>

    <p>Can’t attend but would still like to make a donation? Click here: <a
            href="https://www.paypal.com/donate/?hosted_button_id=N4ZY3QGD6CMVN" target="_"><img
            src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate Button"></a></p>

    <form action="#" th:action="@{/tickets}" th:object="${reservationForm}" method="post" autocomplete="on">
        <div class="flex-container">
            <div class="input-container">
                <label>First Name:</label>
                <input type="text" th:field="*{firstName}"/>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
            </div>
            <div class="input-container">
                <label>Last Name:</label>
                <input type="text" th:field="*{lastName}"/>
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error
                </div>
            </div>

            <div class="input-container">
                <label>Email:</label>
                <input type="text" th:field="*{email}"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </div>
            <div class="input-container">
                <label>Phone:</label>
                <input type="text" th:field="*{phone}"/>
                <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Number Error</div>
            </div>

            <div th:each="type, itemStat : *{ticketTypeCounts}" class="input-container">
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].typeCode}"/>
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].description}"/>
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].costPerTicket}"/>

                <label>[[*{ticketTypeCounts[__${itemStat.index}__].description}]] @
                    [[*{ticketTypeCounts[__${itemStat.index}__].costPerTicket}]] each</label>
                <input type="text" th:field="*{ticketTypeCounts[__${itemStat.index}__].count}"/>
                <div class="error" th:if="${#fields.hasErrors('*{ticketTypeCounts[__${itemStat.index}__].count}')}"
                     th:errors="*{ticketTypeCounts[__${itemStat.index}__].count}">Ticket Count Error
                </div>
            </div>
        </div>

        <div class="error" th:if="${not #strings.isEmpty(ticketCountError)}" th:text="${ticketCountError}">Not enough
            tickets
        </div>

        <div class="row">
            <div class="col-12 center">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
