<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${ticketTypes.empty}">
        <td colspan="2"> No Ticket Types Defined</td>
    </tr>
    <tr th:each="type : ${ticketTypes}">
        <td><span th:text="${type.getDescription}"> Type </span></td>
        <td><span th:text="${type.costPerTicket}"> Cost </span></td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/ticketTypes}" th:object="${form}" method="post">
    <p>Type: <input type="text" th:field="*{getDescription}"/></p>
    <p>Cost: $<input type="text" th:field="*{cost}"/></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>
