<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head}">
    <title>Omaha Lithuanian American Community</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}">
    Header
</div>

<div class="container">

    <p>The Omaha Lithuanian-American Community will be hosting a gala event, celebrating 70 years of preserving
        Lithuanian language, culture, customs, and traditions in Omaha. Please join us and our distinguished
        honorees.</p>

    <p style="margin-left: auto; margin-right: auto; width: 10em;">
        <b>The Belvedere</b><br/>
        201 East 1st Street<br/>
        Papillion, NE 68046
    </p>

    <table class="schedule">
        <tr>
            <td>Cocktails</td>
            <td>-</td>
            <td>5:30pm</td>
        </tr>
        <tr>
            <td>Opening Remarks</td>
            <td>-</td>
            <td>6:15pm</td>
        </tr>
        <tr>
            <td>Dinner</td>
            <td>-</td>
            <td>6:30pm</td>
        </tr>
        <tr>
            <td>Special Greetings</td>
            <td>-</td>
            <td>7:15pm</td>
        </tr>
        <tr>
            <td>Program and Entertainment</td>
            <td>-</td>
            <td>9:00pm</td>
        </tr>
    </table>

    <p style="margin-left: auto; margin-right: auto; width: 15em;"><i>Cocktail attire is recommended.</i></p>

    <p>Dinner will be catered by Aron Mackevicius and the Lithuanian Bakery who bring over 60 years of culinary
        experience to celebrate the Lithuanian American Community Anniversary. Owner and Executive Chef of <b>Talus
            Spirits and Sustenance</b>, Aron will share his flavors and techniques for us to savor and enjoy, including
        baked salmon, prime rib, potato and vegetable dishes. Little ones will enjoy delicious children’s options.
        Dessert will feature world-famous Napoleon torte.</p>

    <p>Entertainment will be provided by DJ Arthur Bereisa, Nida Grigalavičiūtė, and the Aušra dance group.</p>

    <p>Nida Grigalavičiūtė has been nominated for and received awards for her musical talent across a range of music
        from classical and
        blues to rock and jazz.</p>

    <p>The Aušra dance group and their supporters have been an integral part of the Omaha Lithuanian community for over
        50 years, sharing their love of dance and the desire to preserve their culture.</p>

    <p>DJ Arthur Bereisa will be providing well known Lithuanian music to the audience.</p>

    <p>An open cash bar will be hosted by the Polish American Community.</p>

    <p>Kindly RSVP below by April 8th, 2023.</p>

    <p>Can’t attend but would still like to make a donation? Click here: <a
            href="https://www.paypal.com/donate/?hosted_button_id=N4ZY3QGD6CMVN" target="_"><img
            src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate Button"></a></p>

    <hr/>

    <h2>Ticket Reservations:</h2>

    <form action="#" th:action="@{/tickets}" th:object="${reservationForm}" method="post" autocomplete="on">
        <div class="flex-container">
            <div class="input-container">
                <label>First Name:</label>
                <input type="text" th:field="*{firstName}"/>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
            </div>
            <div class="input-container">
                <label>Last Name:</label>
                <input type="text" th:field="*{lastName}"/>
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error
                </div>
            </div>

            <div class="input-container">
                <label>Email:</label>
                <input type="text" th:field="*{email}"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </div>
            <div class="input-container">
                <label>Phone:</label>
                <input type="text" th:field="*{phone}"/>
                <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Number Error</div>
            </div>

            <div th:each="type, itemStat : *{ticketTypeCounts}" class="input-container">
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].typeCode}"/>
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].description}"/>
                <input type="hidden" th:field="*{ticketTypeCounts[__${itemStat.index}__].costPerTicket}"/>

                <label>[[*{ticketTypeCounts[__${itemStat.index}__].description}]] @
                    [[*{@tutil.currency(ticketTypeCounts[__${itemStat.index}__].costPerTicket)}]] each</label>
                <input type="text" th:field="*{ticketTypeCounts[__${itemStat.index}__].count}"/>
                <div class="error" th:if="${#fields.hasErrors('*{ticketTypeCounts[__${itemStat.index}__].count}')}"
                     th:errors="*{ticketTypeCounts[__${itemStat.index}__].count}">Ticket Count Error
                </div>
            </div>
        </div>

        <div class="error" th:if="${not #strings.isEmpty(ticketCountError)}" th:text="${ticketCountError}">Not enough
            tickets
        </div>

        <div class="row">
            <div class="col-12 center">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer.html :: footer}">
    Footer
</div>

</body>
</html>
